<h1>Show Page</h1>

<%# 3. Episode Show Page
On the episode show page, a user should see:

Episode date
A list of the guests who were on that episode
Each guest's name should link to the Guest Show page %>
<p>Episode Date: <%= @episode.date %>
<p>Guests: <%= @episode.guest_id %>

